.add {
    background-color: #1D1D1D;
}

.add_text {
    color: #FFD60A;
    font-size: 32px;
    font-weight: 800;
    margin-left: 12px;
}

.add_namber {
    color: #FFFFFF;
    background-color: #0F0F0F;
}

.add_namber_uno {
    padding: 10px;
}

.add_namber_tho {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFD60A;
    border-radius: 8px;
}